<!DOCTYPE html>
<html>
    <head>
        <title>OpenShift - NodeJS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            body { text-align: center; padding: 150px; }
            h1 { font-size: 50px; }
            body { font: 20px Helvetica, sans-serif; color: #333;}
            article { display: block; text-align: center; width: 650px; margin: 0 auto; }
            a { color: #dc8100; text-decoration: none; }
            a:hover { color: #333; text-decoration: none; }
        </style>
    </head>
    <body>
    <article>
        <h1>Welcome to OpenShift!</h1>
		<h4><p>NodeJS Test</p></h4><hr>
        <p>&copy <a href="https://www.yongbok.net/blog/">Yongbok.net</a></p>
    </article>
    </body>
</html>
